@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'bauhaus';
  src: url('../assets/BAUHS93.TTF') format('truetype');
  font-weight: light;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.squircle {
  clip-path: url(#squircleClip);
}

.control-buttons button {
  background: rgba(155, 155, 155, 0.2);
  border-radius: 9px;
  padding: 0.2rem .5rem;
  cursor: pointer;
}
